.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-bottom: dashed var(--border-width) var(--border-color);
}

.services-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-right: dashed var(--border-width) var(--border-color);
  border-left: dashed var(--border-width) var(--border-color);
}

.services-content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.875rem;
  border-bottom: dashed var(--border-width) var(--border-color);
}

.services-content-header h2 {
  font-size: 1.5rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  letter-spacing: -0.066rem;
  color: var(--text-color);
  margin: 0;
  line-height: 1;
  text-align: center;
}

.services-content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.services-content-area-grid-options {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: dashed var(--border-width) var(--border-color);
  border-right: dashed var(--border-width) var(--border-color);
}

.services-content-area-grid-options-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(3.4375rem /2);
  border: none;
  border-right: dashed var(--border-width) var(--border-color);
  background-color: var(--button-bg-color);
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text-color);
  font-family: 'Radio Canada Big', 'Roboto', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.services-content-area-grid-options-item:last-child {
  border-right: none;
}

.services-content-area-grid-options-item:hover {
  background-color: var(--button-hover-bg-color);
}

.services-content-area-grid-options-item.active {
  background-color: var(--button-active-bg-color);
}

.services-content-area-grid {
  border-top: dashed var(--border-width) var(--border-color);
  display: flex;
  align-items: center;
}

.services-content-area-grid > div {
  height: 100%;
}

.services-content-area-grid-container {
  border-left: dashed var(--border-width) var(--border-color);
  border-right: dashed var(--border-width) var(--border-color);
}

.services-content-area-grid-container-description {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: dashed var(--border-width) var(--border-color);
}

.services-content-area-grid-container-description-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  min-height: 3.4375rem;
  border-left: dashed var(--border-width) var(--border-color);
  border-right: dashed var(--border-width) var(--border-color);
}

.services-content-area-grid-container-description p {
  font-size: var(--font-size-sm);
  color: var(--description-color);
  margin: 0;
  font-weight: 500;
}

@media screen and (max-width: 1080px) {
  .services-container {
    width: calc(100% - var(--border-width)) !important;
  }
  .services-content-area-grid-options,
  .services-content-area-grid-container-description-area,
  .services-content-area-grid {
    width: calc(100dvw - 100dvw / 8) !important;
  }
  .services-content-area-grid-container-description-area p {
    text-align: center;
  }
  .services-content-area-grid-options-item,
  .services-content-area-grid .empty-block {
    flex: 1;
  }
  .services-content-area-grid .empty-block  {
    height: calc(13.75rem - 2px);
  }
  .services-content-area-grid .empty-block:first-child {
    border-left: dashed var(--border-width) var(--border-color);
  }
  .services-content-area-grid .empty-block:last-child {
    border-right: dashed var(--border-width) var(--border-color);
  }
  .services-content-area-grid-container  {
    width: calc(13.75rem - 2px) !important;
  }
}