.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-bottom: dashed var(--border-width) var(--border-color);
}

.contact-container .empty-block.horizontal {
  height: 3.4375rem;
  border-right: dashed var(--border-width) var(--border-color);
  border-left: dashed var(--border-width) var(--border-color);
  display: flex;
}

.contact-container .empty-block.horizontal:first-child {
  border-bottom: dashed var(--border-width) var(--border-color);
}

.contact-container .empty-block.horizontal:last-child {
  border-top: dashed var(--border-width) var(--border-color);
}

.contact-container .empty-block.horizontal .empty-block {
  height: 100%;
}

.contact-container .empty-block.horizontal .empty-block:first-child {
  border-right: dashed var(--border-width) var(--border-color);
}

.contact-container .empty-block.horizontal .empty-block:last-child {
  border-left: dashed var(--border-width) var(--border-color);
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.875rem;
  border-left: dashed var(--border-width) var(--border-color);
  border-right: dashed var(--border-width) var(--border-color);
}

.contact-content .empty-block {
  height: 100%;
}

.contact-content .empty-block:first-child {
  border-right: dashed var(--border-width) var(--border-color);
}

.contact-content .empty-block:last-child {
  border-left: dashed var(--border-width) var(--border-color);
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 100%;
  background-color: var(--button-bg-color);
  padding: 0rem 1rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.contact-link:hover {
  background-color: var(--button-hover-bg-color);
}

.contact-link:hover p{
  scale: 1.05;
}

.contact-link h2 {
  font-size: 1.5rem;
  font-family: 'GilmerBold', sans-serif;
  letter-spacing: -0.066rem;
  color: var(--text-color);
  margin: 0;
  line-height: 1;
  text-align: center;
  font-weight: 600;
}

.contact-link p {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--detail-color);
  font-size: var(--font-size-md);
  font-family: 'Radio Canada Big', sans-serif;
  border: none;
  text-decoration: none;
  transition: scale 0.3s ease;
}

@media screen and (max-width: 1080px) {
  .contact-container {
    width: calc(100% - var(--border-width)) !important;
  }
  .contact-container > div {
    width: 100%;
  }
  .contact-content .empty-block {
    width: 0;
    flex: 1;
  }
  .contact-link {
    width: calc(100dvw - 100dvw / 8) !important;
  }
  .empty-block.horizontal {
    height: calc(3.4375rem / 1.5) !important;
  }
}