:root {
  font-family: 'Radio Canada Big', sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-0: #000000;
  --dark-100: #121212;
  --dark-200: #282828;
  --dark-300: #3f3f3f;
  --dark-400: #575757;
  --dark-500: #717171;
  --dark-600: #8b8b8b;
  --dark-700: #a5a5a5;
  --dark-800: #bfbfbf;
  --dark-900: #d9d9d9;
  --dark-1000: #eeeeee;

  --light-0: #ffffff;
  --light-100: #fafafa;
  --light-200: #f8f8f8;
  --light-300: #f0f0f0;
  --light-400: #eeeeee;

  --font-size-xl: 1rem;
  --font-size-lg: 0.875rem;
  --font-size-md: 0.75rem;
  --font-size-sm: 0.625rem;
  --font-size-xs: 0.5rem;

  --border-color: var(--dark-800);
  --border-width: 1px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'GilmerBold';
  src: url('./GilmerBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

::-moz-selection, ::selection {
  color: var(--light-100);
  background: var(--dark-200);
}