.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-bottom: dashed var(--border-width) var(--border-color);
}

.work-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-right: dashed var(--border-width) var(--border-color);
  border-left: dashed var(--border-width) var(--border-color);
}

.work-content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.875rem;
  border-bottom: dashed var(--border-width) var(--border-color);
}

.work-content-header h2 {
  font-size: 1.5rem;
  font-family: 'GilmerBold', sans-serif;
  letter-spacing: -0.066rem;
  color: var(--text-color);
  margin: 0;
  line-height: 1;
  text-align: center;
  font-weight: 600;
}

.work-content-row {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  border-bottom: dashed var(--border-width) var(--border-color);
}

.work-content-row .empty-block {
  height: calc(calc(18.90625rem / calc(16 / 9)) + calc(3.4375rem / 2));
}

.work-content-row .empty-block:nth-child(3) {
  border-right: dashed var(--border-width) var(--border-color);
}

.work-content .empty-block.horizontal {
  height: 3.4375rem;
  border-bottom: dashed var(--border-width) var(--border-color);
  display: flex;
}

.work-content .sub-empty-block {
  height: 100%;
  border-right: dashed var(--border-width) var(--border-color);
}

.work-content .sub-empty-block:nth-child(2) {
  width: 18.90625rem;
}

.work-content .sub-empty-block:nth-child(4) {
  width: calc(18.90625rem + var(--border-width));
}

.work-content .sub-empty-block:last-child {
  border-right: none;
  margin-left: calc(var(--border-width) /2);
}

.work-content-row .empty-block:first-child {
  border-right: dashed var(--border-width) var(--border-color);
}

.work-content-row .empty-block:last-child {
  border-left: dashed var(--border-width) var(--border-color);
}

.work-content-row:last-child {
  border-bottom: none;
}

.work-content-row-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  transition: background-color 0.3s ease;
  border-right: dashed var(--border-width) var(--border-color);
  text-decoration: none;
  width: 18.90625rem;
}

.work-content-row :nth-child(4) {
  border-right: none;
}

.work-content-row-item img {
  height: calc(18.90625rem / calc(16 / 9));
  width: 100%;
  filter: grayscale(1);
  transition: filter 0.3s ease;
}

.work-content-row-item:hover img {
  filter: grayscale(0);
}

.work-content-row-item:hover .work-content-row-item-details {
  background-color: var(--button-hover-bg-color);
}

.work-content-row-item:last-child{
  border-right: none;
}

.work-content-row-item-details {
  border-top: dashed var(--border-width) var(--border-color);
  display: grid;
  grid-template-columns: auto 6.875rem;
  grid-template-rows: 1fr;
  height: calc(3.4375rem / 2);
  background-color: var(--button-bg-color);
  transition: background-color 0.3s ease;
}

.work-content-row-item-details h3 {
  font-size: var(--font-size-sm);
  color: var(--description-color);
  margin: 0;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  font-family: 'GilmerBold', sans-serif;
}

.work-content-row-item-details p {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 0.5rem;
  color: var(--detail-color);
  font-size: var(--font-size-sm);
  border-left: dashed var(--border-width) var(--border-color);
}

@media screen and (max-width: 1080px) {
  .work-container {
    width: calc(100% - var(--border-width));
  }
  .work-content {
    align-items: center;
  }
  .work-content-row {
    flex-direction: column;
  }
  .work-content-row .empty-block.col-2 {
    display: none;
  }
  .work-content-row .empty-block.col-1 {
    height: calc(3.4375rem / 1.5);
    width: calc(100% - 100% / 8);
    border-left: dashed var(--border-width) var(--border-color);
  }
  .work-content-row-item img {
    height: calc((100% - 100% / 8) / (16/9));
  }
  .work-content-row-item {
    width: calc(100% - 100% / 8);
    border-left: dashed var(--border-width) var(--border-color);
  }
  .work-content-row-item:nth-child(2) {
    border-bottom: dashed var(--border-width) var(--border-color);
  }
  .work-content-row-item:nth-child(4) {
    border-right: dashed var(--border-width) var(--border-color);
    border-top: dashed var(--border-width) var(--border-color);
  }
  .work-content-row-item-details {
    height: calc(3.4375rem / 1.5);
    grid-template-columns: auto calc(100dvw / 4);
  }
  .work-content .empty-block.horizontal {
    height: calc(3.4375rem / 1.5);
    width: calc(100% - 100% / 8);
    border-left: dashed var(--border-width) var(--border-color);
    border-right: dashed var(--border-width) var(--border-color);
  }
  .empty-block.horizontal > * {
    display: none;
  }
}