.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: dashed var(--border-width) var(--border-color);
  height: calc(3.4375rem / 3);
  position: sticky;
  z-index: 5;
  top: 0;
  background-color: var(--banner-bg-color);
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  border-left: dashed var(--border-width) var(--border-color);
  border-right: dashed var(--border-width) var(--border-color);
}

.banner-content p {
  padding-left: 0.5rem;
  font-size: var(--font-size-xs);
  color: var(--detail-color);
  margin: 0;
}

.banner-content button {
  background-color: var(--banner-button-bg-color);
  height: calc(100% - var(--border-width));
  color: var(--detail-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  font-size: var(--font-size-xs);
  font-family: 'Radio Canada Big', 'Roboto', sans-serif;
  border: none;
  border-left: dashed var(--border-width) var(--border-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner-content button svg {
  width: 0.66rem;
  fill: var(--banner-icon-color);
}

.banner-content button:hover {
  background-color: var(--banner-button-hover-bg-color);
}

@media screen and (max-width: 1080px) {
  .banner-container {
    height: calc(3.4375rem / 1.5);
    border-left: dashed var(--border-width) var(--border-color);
    border-top: dashed var(--border-width) var(--border-color);
    border-bottom: none;
  }
  .banner-content {
    border-left: none;
  }
  .banner-content button {
    width: calc(100% / 4) !important;
  }
  .banner-content p {
    max-width: calc(100% / 4 * 3) !important;
  }
  .banner-content p, .banner-content button {
    font-size: var(--font-size-sm);
  }
  .banner-content button svg {
    min-width: 1rem;
    width: 1rem;
  }
}