.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: dashed var(--border-width) var(--border-color);
  height: calc(3.4375rem / 3);
  position: sticky;
  z-index: 5;
  top: 0;
  background-color: var(--light-100);
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  border-left: dashed var(--border-width) var(--border-color);
  border-right: dashed var(--border-width) var(--border-color);
}

.banner-content p {
  padding-left: 0.5rem;
  font-size: var(--font-size-xs);
  color: var(--dark-400);
}

.banner-content button {
  background-color: var(--light-100);
  height: calc(100% - var(--border-width));
  color: var(--dark-400);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  font-size: var(--font-size-xs);
  font-family: 'Radio Canada Big', 'Roboto', sans-serif;
  border: none;
  border-left: dashed var(--border-width) var(--border-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner-content button svg {
  width: 0.66rem;
  fill: var(--dark-400);
}

.banner-content button:hover {
  background-color: var(--light-400);
}